# ---------------------------
# Python / FastAPI Backend
# ---------------------------
__pycache__/
.env.*

# ---------------------------
# Node / React Frontend
# ---------------------------
node_modules/
dist/
build/

# ---------------------------
# OS / Editor
# ---------------------------
Thumbs.db
.DS_Store
*.swp
*.swo
*.swn
*.bak
.idea/
.vscode/
*.iml

.env
